:root {
  --grey: rgb(211, 211, 211);
  --blue: #1b6bff;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;
  color: white;
  background-color: rgb(211, 211, 211);
  letter-spacing: 1px;
}

header {
  text-align: center;
  padding: 3rem 0;
}

.main-title {
  font-weight: 300;
  font-size: 3rem;
}

main {
  height: 70%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1.6rem;
  border: 1px solid #ffffff;
  box-shadow: inset 5px 5px 10px #f8f8f8, inset -5px -5px 10px #ffffff;
}

.msgs {
  text-align: center;
}

.game-box {
  display: grid;
  grid-template-columns: repeat(3, 4rem);
  grid-template-rows: repeat(3, 4rem);
  position: relative;
  padding: 4rem 0;
  border-radius: 3px;
}

.row div {
  padding: 10px;
  border: 3px solid white;
  height: 75px;
  width: 75px;
  background-color: pink;
  color: solid white;
  text-align: center;
  font-size: 32px;
  float: left;
}
.row {
  clear: both;
}

/* .winning-box {
  border: 1px solid white;
  background-color: white;
  box-shadow: 1rem 1rem 8rem white;
} */

button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

.reset {
  color: white;
  padding: 0.75rem 1.5rem;
  font-size: 1.125rem;
  border-radius: 7px;
  background-color: rgb(211, 211, 211);
  box-shadow: inset -5px -5px 10px white inset 5px 5px 10px white;
  cursor: pointer;
}

.reset:hover {
  background-color: #0083d3;
}

span.nought {
  color: #0083d3;
  background: #a4dbf7;
  padding: 0 8px;
}

span.cross {
  color: #ce6200;
  background: #f9a058;
  padding: 0 8px;
}
h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  color: #666;
  text-align: center;
}
h1 span {
  font-weight: 700;
}

.row div {
  padding: 10px;
  border: 3px solid blue;
  height: 75px;
  width: 75px;
  background-color: pink;
  color: blue;
  text-align: center;
  font-size: 32px;
  float: left;
}
.row {
  clear: both;
}
